<div class="projects">
  <h2 class="project_title">Your Projects</h2>
  <div class="row">
  <% @started_projects.all.each do |project| %>

    <%= render partial: 'projects', locals: { :project => project } %>

  <% end %>
  </div>
</div>