/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 */

 @media only screen and (min-width: 1200px) {
 	.carousel-caption {
 		top: 38%;
 	}
 }

.carousel-inner {
  width:100%;
  height:500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.carousel-inner.container-fluid {
	padding-right:0px;
	padding-left:0px;
}

.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

/*style*/

.search-box {
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 20px;
  float:right;
}
.search-box input[type="text"] {
  -webkit-appearance: none;
  position: relative;
/*  display: block;*/
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 1;
  transition: all 0.5s ease-out 0.5s;
  outline: none;
}
.search-box input[type="text"]:focus {
  width: 280px;
  height: 30px;
  margin-right: 20px;
  transition: all 0.5s ease-out 0s;
}
.search-box input[type="text"]:focus + span::before {
  height: 14px;
  margin: -22px 0 0 -15px;
  transition: all 0.2s ease-out 0.5s;
}
.search-box input[type="text"]:focus + span::after {
  visibility: visible;
  margin: -22px 0 0 -15px;
  transition: all 0.2s ease-out 0.7s;
}
.search-box span {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: 10;
}
.search-box span::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 8px;
  margin: -4px 0 0 0;
  background-color: #000;
  transform: rotate(-45deg);
  transition: all 0.2s ease-out 0.2s;
}
.search-box span::after {
  content: '';
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 14px;
  margin: -36px 0 0 5px;
  background-color: #000;
  transform: rotate(45deg);
  transition: all 0.2s ease-out 0s;
}