/*// Place all the styles related to the Users controller here.
/** They will automatically be included in application.css.
/* You can use Sass (SCSS) here: http://sass-lang.com/*/

.user {
	text-align: center;
}

.text-strikethru {
	position: relative;
	text-align: center;
}

.text-strikethru .line {
	height: 1px;
	background-color: #F1EEEA;
	width: 90%;
	margin-left: 5%;
}

.text-strikethru .text {
	display: inline-block;
	background=color: #FFFFFF;
	padding: 5px 10px;
	font-size: 14px;
	top: -16px;
	position: relative;
	color: #3D3D66;
}

.form-container {
	max-width:400px;
	margin: 20px auto;
	background-color: #f3f5f3;
	padding: 10px;
	border-radius: 2.85%;
}

.form-container input {
	padding: 5px;
}

div.actions {
	margin:20px;
}

div#error_explanation li {
	list-style:none;
}

.field {
	margin: 15px;
}

textarea {
	width: 100%;
}

.form-container input {
  width:100%;
}

input[type="checkbox"] {
  width: 5%;
}

.devise-links {
  text-align: center;
}
